security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        login:
            pattern: ^/login
            stateless: true
            json_login:
                check_path: /login
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure
        refresh_token:
            pattern: ^/token/refresh
            stateless: true
            refresh_jwt:
                check_path: /token/refresh
        api:
            pattern:   ^/
            stateless: true
            jwt: ~

    access_control:
        - { path: ^/(login), roles: PUBLIC_ACCESS }
        - { path: ^/(token/refresh), roles: PUBLIC_ACCESS }
        - { path: ^/collaboration, roles: PUBLIC_ACCESS }
        - { path: ^/song/search, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: IS_AUTHENTICATED_FULLY }

when@test:
    security:
        password_hashers:
            Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface:
                algorithm: auto
                cost: 4
                time_cost: 3
                memory_cost: 10
