http:
    middlewares:
        security-headers:
            headers:
                stsSeconds: 31536000
                stsIncludeSubdomains: true
                stsPreload: true
                contentTypeNosniff: true
                frameDeny: true
                referrerPolicy: no-referrer
                permissionsPolicy: "accelerometer=(), camera=(), microphone=()"

        api-cors:
            headers:
                accessControlAllowOriginList:
                    - https://PLACEHOLDER_APP_DOMAIN
                accessControlAllowMethods: "GET,POST,PUT,DELETE,OPTIONS"
                accessControlAllowHeaders: "Content-Type,Authorization"
                accessControlAllowCredentials: true

tls:
    options:
        default:
            minVersion: VersionTLS12
