@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-ExtraBold.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Thin.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Black.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Regular.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Light.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-Medium.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'League Spartan';
    src: url('~/assets/fonts/LeagueSpartan-ExtraLight.woff2') format('woff2'),
        url('~/assets/fonts/LeagueSpartan-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Black.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-ExtraBold.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Bold.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Medium.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Light.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Thin.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url('~/assets/fonts/Outfit-Regular.woff2') format('woff2'),
        url('~/assets/fonts/Outfit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

